<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>DATABASE REPORTS API</h1>
<table>
  <thead>
    <tr>      
      <th>Resource</th>
      <th>URI</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Department's Manager</td>
      <td><a href="/report/departamento_has_professor" target="blank">Report Department Manager</a></td>
    </tr>
    <tr>
      <td>Student Summary</td>
      <td><a href="/report/historico_aluno/" target="blank">Report Student Summary</a></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>xxx</td>
      <td>yyy</td>
    </tr>
  </tfoot>
</table>
</body>
</html>